.Cright {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 18;
}

.signature {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.linkcright {
position: absolute;
  left: 35px;
  bottom: 10px;
  z-index: 21;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
}


@media only screen and (max-width: 400px) {
 .signature {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
}

}