/* /////////////////////////////// */
.section-header-nobefore {
  background-image: url("acn-header-img2.png");
  background-position: top left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 10vh;
  min-height: 550px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section-header {
  background-image: url("acn-header-img2.png");
  background-position: top left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 10vh;
  min-height: 550px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section-header:before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: -30%;
  bottom: 0;
  position: absolute;
  background-image: url("white-swipe.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  animation: brush 1s linear forwards;
}
.text-wrapper {
  top: 40%;
  opacity: 0;
  left: 60%;
  position: relative;
  width: 40%;
  transform: translate(-50%, -50%);
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.75s;
  max-width: 500px;
}

.text-wrapper > h1,
h3 {
  color: black;
  text-transform: uppercase;
  font-family: "OpenSans";
}
.text-wrapper > h1 {
  font-size: 4.5em;
  font-weight: 800;
}
.text-wrapper > h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
}

@keyframes brush {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 5%);
  }
  100% {
    transform: translate(-100%, 12%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -25%);
  }
  50% {
    opacity: 0.6;
    transform: translate(-50%, -50%);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


/* ////////////////////// */

.ex {
  height: 10vh;
  min-height: 550px;
  width: 100%;
  visibility: visible;
}

.ex.active div,
.ex.animate div {
  pointer-events: initial;
}
.rotate-left {
  perspective: 1300px;
}
.rotate-left div {
  opacity: 0;
  transform: translateZ(100px) translateX(-100%) rotateY(90deg);
  transform-style: perserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.rotate-left-hovered {
  opacity: 1;
  transform: translateZ(0) translateX(0) translateY(0) rotateY(0deg)
    rotateX(0deg);
  transform-style: perserve-3d;
}
