#loaderContainer {
  display: flex;
  width: 300px;
  height: 25px;
  background: transparent;
  border-radius: 6px;
  border: 2px solid #b07c54;
  align-items: center;
}

@keyframes load {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(190px, 0);
  }
}

#loaderBar {
  width: 120px;
  height: 10px;
  background: linear-gradient(to bottom right, #e7b37e, #b07c54);
  border-radius: 6px;
  box-shadow: 0 0 10px #b07c54;

  animation: load 0.25s infinite alternate ease-in-out;
}

/* /////////// */

body {
  background: #000000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 100vmin;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
}
:root {
  --packaged: 0;
  --steps: 23;
  --delay: 0.2;
  --speed: 0.2;
  --face-1: #be8e64;
  --face-2: #dba776;
  --face-3: #e7b37e;
  --face-4: #f3bf86;
  --face-5: #eab37b;
  --face-6: #7d3712;
  --tape: #b07c54;
}

.containerpercentage {
  position: relative;
  text-align: center;
  color: #e7b37e;
  font-size: 45px;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

/* /////////////////////////////// */

.section-header {
  background-image: url("acn-header-img2.png");
  background-position: top left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 10vh;
  min-height: 550px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section-header:before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: -30%;
  bottom: 0;
  position: absolute;
  background-image: url("white-swipe.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  animation: brush 1s linear forwards;
}
.text-wrapper {
  top: 40%;
  opacity: 0;
  left: 55%;
  position: relative;
  width: 40%;
  transform: translate(-50%, -50%);
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.75s;
  max-width: 500px;
}
.text-wrapper > h1,
h3 {
  color: white;
  text-transform: uppercase;
  font-family: "OpenSans";
}
.text-wrapper > h1 {
  font-size: 4.5em;
  font-weight: 800;
}
.text-wrapper > h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
}


.text-wrapperScroll {
  top: 45%;
  opacity: 0;
  left: 85%;
  position: relative;
  width: 12.5%;
  transform: translate(-50%, -50%);
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.75s;
  
  background-color: #7d3712;
}
.text-wrapperScroll > h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #ccc;
  background-color: #b07c54;
  text-transform: uppercase;
  font-family: "OpenSans";

}
@keyframes brush {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 5%);
  }
  100% {
    transform: translate(-100%, 12%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -25%);
  }
  50% {
    opacity: 0.6;
    transform: translate(-50%, -50%);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
