/* Icon 1 */

#nav-icon {
  width: 40px;
  height: 35px;
  position: absolute;
  margin: 4px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #cccccc;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2) {
  top: 20px;
}

#nav-icon span:nth-child(3) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menuBGUp {
  position: absolute;
  left: 50%;
  top: 0px;
  opacity: 0;
  transform: translateY(-100%) rotateX(-90deg);
  transform-style: perserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menuBGUp-hovered {
  position: absolute;
  left: 50%;
  top: 0px;
  opacity: 1;
  transform: translateZ(0) translateX(0) translateY(0) rotateY(0deg)
    rotateX(0deg);
  transform-style: perserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .menuBGUp {
    left: 0%;
  }
  .menuBGUp-hovered {
    left: 0%;
  }

  #nav-icon {
    width: 30px;
  }
  #nav-icon span:nth-child(1) {
    top: 5px;
  }

  #nav-icon span:nth-child(2) {
    top: 12px;
  }

  #nav-icon span:nth-child(3) {
    top: 19px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 12px;
  }
  #nav-icon.open span:nth-child(3) {
    top: 12px;
  }
}

/* ////////////////////// */
.mcd-menu {
  overflow: hidden;
  width: 50%;
  white-space: nowrap;
}
.mcd-menu div {
  float: right;
  top: 0px;
  left: 100px;
  opacity: 0;
  transform: translateY(-100%) rotateX(-90deg);
  transform-style: perserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.opened div {
  opacity: 1;
  transform: translateZ(0) translateX(0) translateY(0) rotateY(0deg)
    rotateX(0deg);
  transform-style: perserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mcd-menu div a {
  display: block;
  text-decoration: none;
  padding: 6px 10px;
  color: #777;

  /* == */
  text-align: center;
  height: 32px;
  position: relative;
  border-bottom: 1px solid #eee;
  /* == */
}

.mcd-menu div a strong {
  display: block;
  text-transform: uppercase;
}
.mcd-menu div a small {
  display: block;
  font-size: 10px;
}

.mcd-menu div a strong,
.mcd-menu div a small {
  position: relative;

  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.mcd-menu div:hover a strong {
  opacity: 1;
  -webkit-animation: moveFromLeft 300ms ease-in-out;
  -moz-animation: moveFromLeft 300ms ease-in-out;
  -ms-animation: moveFromLeft 300ms ease-in-out;
  -o-animation: moveFromLeft 300ms ease-in-out;
  animation: moveFromLeft 300ms ease-in-out;
}
.mcd-menu div:hover a small {
  opacity: 1;
  -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu div:hover > a {
  color: white;
}
.mcd-menu div a.active {
  position: relative;
  color: white;
  border: 0;
  box-shadow: 0 0 5px #ddd;
  -moz-box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
}

@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
