.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}

.main {
  grid-area: 2 / 1 / 3 / 3;
}

.footer {
  color: darkgrey;
  grid-area: 3 / 1 / 4 / 3;
}

.leftMain {
  grid-area: 2 / 1 / 3 / 2;
}

.rightMain {
 
 
  grid-area: 2 / 2 / 3 / 3;
}

/* ///////////// */
.hamburger-icon {
  display: block;
  border-bottom: 12px double #ccc;
  border-top: 4px solid #ccc;
  content: "";
  height: 5px;
  width: 24px;
  margin-left: 10px;
  margin-top: 10px;
}
