/* ///// hide chrome scrollbar ///// */
*::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
}

body {
  background: #000000;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  /* background-color: blue; */
}

.main {
  grid-area: 2 / 1 / 3 / 3;
  /* background-color: green; */
}

.footer {
  grid-area: 3 / 1 / 4 / 3;
  /* background-color:darkblue; */
}

.leftMain {
  /* background-color:blueviolet; */
  grid-area: 2 / 1 / 3 / 2;
}

.rightMain {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color:aqua; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menuBGUp {
    left: 10%;
  }

  .menuBGUp-hovered {
    position: absolute;
    left: 10%;
    top: 0px;
    opacity: 1;
    transform: translateZ(0) translateX(0) translateY(0) rotateY(0deg)
      rotateX(0deg);
    transform-style: perserve-3d;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  /* //////////////////////// */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 600px) {
  .leftMain {
    grid-area: 2 / 1 / 3 / 3;
  }
}
