/* ///// hide chrome scrollbar ///// */
*::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}

.main {
  grid-area: 2 / 1 / 3 / 3;
}

.footer {
  color: darkgrey;
  grid-area: 3 / 1 / 4 / 3;
}

.leftMain {
  grid-area: 2 / 1 / 3 / 2;
}

.rightMain {
  grid-area: 2 / 2 / 3 / 3;
}






/* ////////// */
.text-wrapperScroll {
  top: 45%;
  opacity: 0;
  left: 85%;
  position: relative;
  width: 12.5%;
  transform: translate(-50%, -50%);
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.75s;

  background-color: #7d3712;
}
.text-wrapperScroll > h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #ccc;
  background-color: #b07c54;
  text-transform: uppercase;
  font-family: "OpenSans";
}
